In [ ]:
# Python使用类库连接mysql，并使用SQL进行数据库增删改查操作：

# **(1)**
# 题目：编写一个SQL语句，在名为"users"的表中插入一条记录，姓名为"Alice"，年龄为25岁。pymysql
import pymysql
# 连接数据库
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='a',
    port=3306
)

# 创建游标
cursor = connection.cursor()

# (1) 在名为"users"的表中插入一条记录，姓名为"Alice"，年龄为 25 岁
sql_insert = "INSERT INTO user (name, age) VALUES ('Alice', 25)"
cursor.execute(sql_insert)
aa=connection.commit()

In [ ]:
# Python使用类库连接mysql，并使用SQL进行数据库增删改查操作：

# **(1)**
# 题目：编写一个SQL语句，在名为"users"的表中插入一条记录，姓名为"Alice"，年龄为25岁。
import  pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306
)
#游标
cursor=a1.cursor()
sql="insert into user(name,age) values('aa',11)"
cursor.execute(sql)#执行
a1.commit()#提交

sql = "select * from user"
# 执行sql
cursor.execute(sql)
result = cursor.fetchall()#查询结果的所有行
for res in result:
    print(res)#('Alice', 25)('aa', 11)

In [ ]:
# Python使用类库连接mysql，并使用SQL进行数据库增删改查操作：
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(1)**
# 题目：编写一个SQL语句，在名为"users"的表中插入一条记录，姓名为"Alice"，年龄为25岁。
aa1=a1.cursor()#游标
b1=aa1.execute("insert into user (name,age)values ('Bob',22)")
a1.commit()#执行
cx=aa1.execute("select * from user")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(2)**
# 题目：编写一个SQL语句，在名为"users"的表中删除姓名为"Bob"的记录。
dele=aa1.execute("delete from user where name='Bob'")
a1.commit()
cx=aa1.execute("select * from user")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(3)**
# 题目：编写一个SQL语句，在名为"users"的表中更新姓名为"Alice"的记录，将其年龄修改为30岁。
t3=aa1.execute("update  user set age=30 where name='Alice'")
a1.commit()
cx=aa1.execute("select * from user")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(4)**
# 题目：编写一个SQL语句，从名为"users"的表中查询所有年龄大于等于25岁的记录。
cx=aa1.execute("select * from user where age>=25")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(5)**
# 题目：编写一个SQL语句，从名为"users"的表中查询所有记录，并按年龄从小到大排序。
cx=aa1.execute("select * from user order by age ")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(6)**
# 题目：编写一个SQL语句，在名为"products"的表中查询所有价格大于等于100的产品记录，并按价格从大到小排序。
cx=aa1.execute("select * from products where price>=100 order by price desc")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(7)**
# 题目：编写一个SQL语句，在名为"orders"的表中查询所有属于客户"C123"的订单记录。
cx=aa1.execute("select * from user where name='Alice'")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(8)**
# 题目：编写一个SQL语句，在名为"employees"的表中查询所有员工的姓名和工资，并按工资从高到低排序。
cx=aa1.execute("select name,salary from employees order by salary desc ")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(9)**
# 题目：编写一个SQL语句，在名为"students"的表中查询所有学生的姓名和成绩，并按成绩从高到低排序。
cx=aa1.execute("select * from user")
cx1=aa1.fetchall()
for i in cx1:
    print(i)

In [ ]:
import pymysql
a1=pymysql.connect(
    host="localhost",
    database="a",
    user="root",
    password="1234",
    port=3306    
)
# **(10)**
# 题目：编写一个SQL语句，在名为"orders"的表中查询所有订单的订单号、订单日期和总金额，并按总金额从高到低排序

cx=aa1.execute("select * from user")
cx1=aa1.fetchall()
for i in cx1:
    print(i)