In [ ]:
import  pandas as pa
# 示例数据集（data.csv）：
# 1. 使用Pandas读取"data.csv"文件。
a1=pa.read_csv("E:///python代码/rk1/data/data.csv")

In [ ]:
# 2. 查看数据集的前5行。
print(a1.head())

In [ ]:
# 3. 使用平均值填充"Age"列中的缺失值。
a3=a1['Age'].mean(skipna=True)
a1['Age']=a1['Age'].fillna(a3)
print("题3",a1)

In [ ]:
import numpy as np  
# 4. 使用众数填充"Salary"列中的缺失值。
from scipy.stats import mode
# 假设 a1 是包含 'Salary' 列的 DataFrame 或 Series
salary_result = mode(a1['Salary'].dropna())
if isinstance(salary_result.mode, np.ndarray):
    salary_mode = salary_result.mode[0]
else:
    salary_mode = salary_result.mode
a1['Salary'] = a1['Salary'].fillna(salary_mode)
print(a1)

In [ ]:
# 5. 将"City"列中的"New York"替换为"NYC"。
a1['City'] = a1['City'].replace('New York', 'NYC')
print("t5",a1)

In [ ]:
# 6. 将"City"列中的"London"和"Paris"替换为"Europe"。
a1['City'] = a1['City'].replace(['London', 'Paris'], 'Europe')
print("t6",a1)

In [ ]:
# 7. 根据"Age"列的值，将数据集中的样本分为三个年龄段：18-25岁、26-35岁和36-45岁。
bins = [18, 26, 36, 46]
labels = ['18-25', '26-35', '36-45']
a1['Age Group'] = pa.cut(a1['Age'], bins=bins, labels=labels, right=False)
print("t7",a1)

In [ ]:
# 8. 将数据集按照"Age Group"和"City"列进行分组，并计算每个组的平均工资。
grouped = a1.groupby(['Age Group', 'City'])['Salary'].mean().reset_index()
print("t8",grouped)

In [ ]:
# 9. 将"Age"列的数据类型转换为整型。
a8=a1['Age'] = a1['Age'].astype(int)
print("t9",a8)

In [ ]:
# 10. 将数据集中的缺失值所在的行删除。
df=a1.dropna(inplace=True)
print(df)